{% block body %}
	<h1>Add Postulation</h1>
	
	{{form_start(form,{'attr': {'novalidate': 'novalidate'}} )}}
	
	<button type="add" class="btn btn-primary">Update</button>
	{{ form_end(form) }}
{% endblock %}