<form method="post" action="{{ path('app_reponse_delete', {'idReponse': reponse.idReponse}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse.idReponse) }}">
    <button class="btn btn-danger">Delete</button>
</form>
