{% extends 'base.html.twig' %}

{% block title %}Modifier Reponse
{% endblock %}

{% block body %}
	<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

		<div class="col-lg-6">

			<div class="card">
				<h1>Modifier Reponse</h1>

				{{ include('reponse/_form.html.twig', {'button_label': 'Modifier'}) }}

				<a href="{{ path('app_reponse_index') }}">
					<button class="btn btn-secondary">Retour a la liste</button>
				</a>

				{{ include('reponse/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
