{% extends 'base.html.twig' %}

{% block title %}Nouveau Reponse{% endblock %}

{% block body %}
    <h1>Create new Reponse</h1>

    {{ include('reponse/_form.html.twig') }}

    <a href="{{ path('app_reponse_index') }}"><button class="btn btn-secondary">Retour</button></a>
{% endblock %}
