{% extends 'base.html.twig' %}

{% block title %}Modifier une Reclamation
{% endblock %}

{% block body %}
	<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

		<div class="col-lg-6">
			<h1>Edit Reclamation</h1>

			{{ include('reclamation/_form.html.twig', {'button_label': 'Modifier'}) }}

			<a href="{{ path('app_reclamation_index') }}">
				<button class="btn btn-secondary">Retour</button>
			</a>

			{{ include('reclamation/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
