{% extends 'templateFront.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
<div class="container">
<div class="d-flex flex-column justify-content-center">
    <h1>Create new Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}
  </div>
    </div>
{% endblock %}
