{% extends 'base.html.twig' %}
{% block body %}
	<div class="card info-card customers-card" style="margin-left: 450px;margin-right: 50px;margin-top: 100px;">
		<div style="margin-left: 10px;margin-right: 50px;margin-top: 10px;" class="card-body">
			<h5 class="card-title">Customers
				<span>| This Year</span>
			</h5>

			<div class="d-flex align-items-center">
				<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
					<i class="bi bi-people"></i>
				</div>
				<div class="ps-3">
					<h6>1244</h6>
					<span class="text-danger small pt-1 fw-bold">12%</span>
					<span class="text-muted small pt-2 ps-1">decrease</span>

				</div>
			</div>

		</div>
	</div>

</div>{% endblock %}
