{% extends 'base.html.twig' %}
{% block body %}


	<div style="align-items: center;justify-content: center;margin-top: 10px; margin-right: 500px;margin-left: 500px;">

		<div class="card">
			<div class="filter">
				<a class="icon" href="#" data-bs-toggle="dropdown">
					<i class="bi bi-three-dots"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
					<li class="dropdown-header text-start">
						<h6>Filter by event title</h6>
					</li>
					{% for event in events %}
						<li>
							<a class="dropdown-item" href="{{ path('list_events', {'id': event.id}) }}">{{ event.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="card-body">
				<h5 class="card-title">Reports
					<span>/Today</span>
				</h5>

				<!-- Line Chart -->
				<!-- Line Chart -->
				<div id="reportsChart" style="min-height: 365px;"></div>
				<script>
					$(function () {
var options = {
chart: {
type: 'line',
height: 350
},
series: [
{
name: "Accept",
data: [
30,
40,
25,
50,
49,
21,
70,
51,
30,
40,
25,
50,
49,
21,
70,
51
]
}, {
name: "Pending",
data: [
23,
12,
54,
61,
32,
56,
81,
19,
23,
12,
54,
61,
32,
56,
81,
19
]
}, {
name: "Banned",
data: [
62,
14,
28,
51,
22,
12,
50,
28,
62,
14,
28,
51,
22,
12,
50,
28
]
}
],
stroke: {
width: [
2, 2, 2
],
curve: 'smooth'
},
xaxis: {
categories: [
'01 Jan',
'02 Jan',
'03 Jan',
'04 Jan',
'05 Jan',
'06 Jan',
'07 Jan',
'08 Jan',
'09 Jan',
'10 Jan',
'11 Jan',
'12 Jan',
'13 Jan',
'14 Jan',
'15 Jan',
'16 Jan'
]
},
legend: {
position: 'top',
horizontalAlign: 'right',
floating: true,
offsetY: -25,
offsetX: -5
},
responsive: [
{
breakpoint: 600,
options: {
legend: {
offsetY: -30,
offsetX: -10
}
}
}
]
};

var chart = new ApexCharts(document.querySelector("#reportsChart"), options);
chart.render();
});
				</script>
				<!-- End Line Chart -->

				<!-- End Line Chart -->
			</div>
		</div>


		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Create New Event</h5>

				<!-- General Form Elements -->
				<div class="row mb-3">
					<label for="inputText" style="width: 80%;" class="col-sm-2 col-form-label">Title</label>
					<div class="col-sm-10"></div>
				</div>

				<div class="row mb-3">
					<label for="inputDate" style="width: 80%;" class="col-sm-2 col-form-label">Date and Time</label>
					<div class="input-group date"></div>
				</div>


				<div class="row mb-3">
					<label for="inputPassword" style="width: 80%;" class="col-sm-2 col-form-label">Description</label>
					<div class="col-sm-10"></div>
				</div>

				<div class="row mb-3">
					<label for="inputText" style="width: 80%;" class="col-sm-2 col-form-label">Location</label>
					<div class="col-sm-10"></div>
				</div>

				<div class="row mb-3">
					<label style="width: 80%;" class="col-sm-2 col-form-label">Category</label>
					<div class="col-sm-10"></div>
				</div>


				<div class="row mb-3">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Create Event</button>
					</div>
				</div>

				<!-- End General Form Elements -->

			</div>
		</div>
	</div>

{% endblock %}
<div class="row" style="margin-left: 300px;margin-right: 50px;margin-top: 100px;">

	<div class="col-lg-12">
		<div class="card">
			<div class="filter">
				<a class="icon" href="#" data-bs-toggle="dropdown">
					<i class="bi bi-three-dots"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
					<li class="dropdown-header text-start">
						<h6>Filter by event title</h6>
					</li>
					{% for event in events %}
						<li>
							<a class="dropdown-item" href="{{ path('list_events', {'id': event.id}) }}">{{ event.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="card-body">
				<h5 class="card-title">Reports
					<span>/Today</span>
				</h5>

				<!-- Line Chart -->
				<!-- Line Chart -->
				<div id="reportsChart" style="min-height: 365px;"></div>
				<script>
					$(function () {
var options = {
chart: {
type: 'line',
height: 350
},
series: [
{
name: "Accept",
data: [
30,
40,
25,
50,
49,
21,
70,
51,
30,
40,
25,
50,
49,
21,
70,
51
]
}, {
name: "Pending",
data: [
23,
12,
54,
61,
32,
56,
81,
19,
23,
12,
54,
61,
32,
56,
81,
19
]
}, {
name: "Banned",
data: [
62,
14,
28,
51,
22,
12,
50,
28,
62,
14,
28,
51,
22,
12,
50,
28
]
}
],
stroke: {
width: [
2, 2, 2
],
curve: 'smooth'
},
xaxis: {
categories: [
'01 Jan',
'02 Jan',
'03 Jan',
'04 Jan',
'05 Jan',
'06 Jan',
'07 Jan',
'08 Jan',
'09 Jan',
'10 Jan',
'11 Jan',
'12 Jan',
'13 Jan',
'14 Jan',
'15 Jan',
'16 Jan'
]
},
legend: {
position: 'top',
horizontalAlign: 'right',
floating: true,
offsetY: -25,
offsetX: -5
},
responsive: [
{
breakpoint: 600,
options: {
legend: {
offsetY: -30,
offsetX: -10
}
}
}
]
};

var chart = new ApexCharts(document.querySelector("#reportsChart"), options);
chart.render();
});
				</script>
				<!-- End Line Chart -->

				<!-- End Line Chart -->
			</div>
		</div>
	</div>
</div>
