<form method="post" action="{{ path('app_pc_delete', {'idPos': postulation.idPos}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ postulation.idPos) }}">
    <button class="btn">Delete</button>
</form>
