{% extends 'base.html.twig' %}

{% block title %}New Domaine{% endblock %}

{% block body %}
    <h1>Create new Domaine</h1>

    {{ include('domaine/_form.html.twig') }}

    <a href="{{ path('app_domaine_index') }}">back to list</a>
{% endblock %}
