{% extends 'base.html.twig' %}

{% block title %}New Domaine
{% endblock %}

{% block body %}
	<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">

					<a href="{{ path('app_domaine_index') }}">
						<button class="btn btn-primary">back to list</button>
					</a>
					<h1>Create new Domaine</h1>

					{{ include('domaine/_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
